@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/comp.jpg) ;
    background-size: cover;
    background-position: center;

}
logo{
    width: 60px;
    cursor:pointer;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative; 
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}



a:visited{
    color:orange ;
}
a{
    text-decoration: none;
    color: orange;
}
a:hover{
    color:rgb(240, 183, 78);
}


body{
    min-height: 200vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/Designer\ black.png);
    display:flex;
    flex-flow:column nowrap;
}
header{
    margin:0;
    position: sticky;
    flex-flow:row nowrap;

}

body{
    max-width: 600vw;
    font-size:larger ;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    background-color:black ;

    
}
footer{
    background-color: papayawhip;
    color: black;
    position: sticky;
    bottom: o;
}
h1,h2,h3{
    color: red;
    font-size: larger;

}
 

.card-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 25px;
}
.card{
    width: 325px;
    background-color:black;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}